registry=http://10.254.144.164:8081/repository/npm-all/
timeout=100000
prefer-offline=true
sharp_libvips_binary_host=http://10.254.144.164:8081/repository/raw-all/
tarball_host_mirror=http://10.254.144.164:8081/repository/raw-all/
grpc_node_binary_host_mirror=http://10.254.144.164:8081/repository/raw-all/
always-auth=false
package-lock=false
audit=false
strict-ssl=false
sharp_libvips_local_prebuilds=libvips-8.10.6-linux-x64.tar.br
